.header {
	font-family: 'Georgia', Times, Times New Roman, Serif;
	background-color: #ffffff;
	border-color: #cccccc;

}


.footer {
	background-color: #666666;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border-color: #dddddd;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, Serif;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, Serif;
}