.header {
	font-family: 'Georgia', Times, Times New Roman, Serif;


}


.footer {

}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, Serif;
}